<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleabout.css">
    <title>About Me</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="benficaname">SL BENFICA</h1>
        <img class="benficalogo" src="/images/Benfica-Logo.png" alt="Benfica logo">
        <ul class="linkslist">
            <li><input type="button" onclick="location.href='/home';" value="HOME" /></li>
            <li><input type="button" onclick="location.href='/myworks';" value="WORKS" /></li>
        </ul>
    </nav>
    <div class="bigdiv">
        <div class="story">
            <h1>SL BENFICA HISTORY</h1>
            <ul>
                <li>Name: Sport Lisboa e Benfica</li>
                <li>Born: 28-February-1904</li>
                <li>Main Rivals: Sporting CP, FC Porto</li>
                <li>Stadium: Estádio da Luz - 64.642</li>
                <li>Adress: São Domingos de Benfica, Lisboa, Portugal</li>

            </ul>

        </div>
        <div>
            <img class="eusebio" src="../images/Eusebio1.png" alt="Eusebio scoring">


        </div>
    </div>
    
</body>
</html>