<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>SL Benfica Home</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="benficaname">SL BENFICA</h1>
        <img class="benficalogo" src="/images/Benfica-Logo.png" alt="Benfica logo">
        <ul class="linkslist">
            <li><input type="button" onclick="location.href='/aboutme';" value="ABOUT ME" /></li>
            <li><input type="button" onclick="location.href='/myworks';" value="WORKS" /></li>
        </ul>
    </nav>
    <div class="champs">
        <img class="benficalogomatch" src="/images/Benfica-Logo.png" alt="Benfica logo">
        <div class="matchinfo">
            <h2>CHAMPIONS LEAGUE FINAL</h2>
            <h2>SL BENFICA X REAL MADRID</h2>
            <p>03 May, 2022 - 20h00 - Estádio da Luz</p>
            
        </div>
        <img class="realmadridlogo" src="../images/Real-Madrid-Logo.png" alt="real madrid logo">
        
    </div>
    
</body>
</html>