<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylework.css">
    <title>Works</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="benficaname">SL BENFICA</h1>
        <img class="benficalogo" src="/images/Benfica-Logo.png" alt="Benfica logo">
        <ul class="linkslist">
            <li><input type="button" onclick="location.href='/home';" value="HOME" /></li>
            <li><input type="button" onclick="location.href='/aboutme';" value="ABOUT ME" /></li>
        </ul>
    </nav>
    <div>
        <table class="trophies">
            <tr>
              <th>World Trophies</th>
              <th>National Trophies</th>
              <th>Lisbon Trophies</th>
            </tr>
            <tr>
              <td>UEFA CL - 2</td>
              <td>Portuguese Main League - 37</td>
              <td>Lisbon Championship - 10</td>
            </tr>
            <tr>
              <td></td>
              <td>Portuguese Cup - 26</td>
              <td>Lisbon Honor Cup - 18</td>
            </tr>
            <tr>
                <td></td>
                <td>League Cup - 7</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Portuguese Championship - 3</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Cândido de Oliveira SuperCup - 8</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Ribeiro Reis Cup - 3</td>
                <td></td>
            </tr>
        </table>
    </div>
    
</body>
</html>